doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="app.js")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
        link(rel="stylesheet", href="style.css")
         
        title Motor Races
    body 
    
    h1  "Never think of your car as a cold machine, but as a hot-blooded horse." - Juan Manuel Fangio
    br
    div
        h2 Audi Quattro S1 - 1984
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fv8-9G2Q3fAo%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=bfdef002c6a92a927f98976dc0aebad914f21cb2bde951fcb04ad5429094f4cd&ipo=images", alt="Audi S1 E2", srcset="" style="width: 10%;height: 10%;float: right;")
            p It was the racecar to feature an active all-wheel drive system. Won Group B and WRC aswell
        br
    div
        h2 Ferrari F2002 - 2002
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tapeciarnia.pl%2Ftapety%2Fnormalne%2Ftapeta-ferrari-f2002-8211-bolid-zespolu-scuderia-ferrari-na-sezon-2002.jpg&f=1&nofb=1&ipt=fe77013229e1ba1f2ad095353dc2a0b893ec9bf92fff987e4e9d0f220d818502&ipo=images", alt="Ferrari F2002", srcset="" style="width: 10%;height: 10%;float: right;")
            p The car was so fast, Ferrari's engineers changed the timing equipment. It dominated F1
        br
    div
        h2 Saab GT750 - 1958
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ultimatecarpage.com%2Fimages%2Fgallery%2Flmc2010%2FSaab-93-GT-750-102398.jpg&f=1&nofb=1&ipt=d57fae6daec450bbda604a5c38b0bfcf3c55c5c843c8d4cb1e5ef18cdf006d61&ipo=images", alt="Saab GT750", srcset="" style="width: 10%;height: 10%;float: right;")
            p The first production car to feature seatbelts as standard equipment
        br
        br
    div
        h2 Porsche 911 Turbo (930) - 1977
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbringatrailer.com%2Fwp-content%2Fuploads%2F2018%2F06%2F5b181d4966572_porsche_930_turbo_carrera_152788063508495d565e1976-Porsche-930-A-GC.com-1.jpg&f=1&nofb=1&ipt=878efd370e17591309fce9976a86e480ad8792fd8a8e2694ab2cb33efed3dbe9&ipo=images", alt="Porsche 911 turbo", srcset="" style="width: 10%;height: 10%;float: right;")
            p The most famous early car to feature a turbocharger, and was nicknamed "Widowmaker" for its tendency to kill its drivers
        br